body { font-family: arial; font-size: 10px; line-height: 15px; }
.magic-container { margin: 100px 0 0 200px; }
.info { width: 34%; }
.hr { height: 1px; width:20px; background-color: red; }

@media screen and (max-width:1024px) {
  .info {
    width: 43%;
  }
  .hr {
    margin-left: 20px;
  }
}
@media screen and (max-width:980px) {
  .info {
    width: 50%;
  }
  .hr {
    margin-left: 20px;
  }
}
@media screen and (max-width:700px){
  .magic-container {
    margin: 100px 0 0 0;
  } 
  .info {
    padding: 0 20px;
    width: 54%;
  }
  .hr {
    margin-left: 20px;
  }
}

@media screen and (max-width:480px){
  .magic-container {
    margin: 100px 0 0 0;
  } 
  .info {
    padding: 0 20px;
    width: 85%;
  }
  .hr {
    margin-left: 20px;
  }
}

