
body {font-family: Arial, Helvetica; font-size: 10.5px; line-height: 1.5;word-spacing:2px;color:#555;}
.magic-container {
  margin: 160px 0 0 250px;
}
p {width: 560px;}
.hr {height: 1px;width:15px;background-color:#000000;}
img {margin:32px 0 0 30px;width:50px;height:50px;}
